.contactMap {
    background: url("../../../../public/images/pages/contactsMap/contacts-map.png") no-repeat center -170px;
    background-size: cover;
    text-align: center;
    padding-bottom: 150px;

    @media (min-width: 1441px) {
        background-position: center -100px;
    }

    @media (max-width: 430px) {
        background: url("../../../../public/images/pages/contactsMap/contacts-map-mob.png") no-repeat center 230px;
        background-size: contain;
    }
}

.mainTitle {
    margin-bottom: 20px;

    @media (max-width: 430px) {
        margin-bottom: 10px;
    }
}

.subtitle {
    margin-bottom: 52px;

    @media (max-width: 430px) {
        font-size: 14px;
    }
}