.image {
    display: block !important;

    margin: 0 auto;
    border-radius: 20px;
    width: 70%;

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 430px) {
        width: 100%;
    }
}

.slideContainer {
    padding: 0 10px;
}

.slider {

    @media (max-width: 430px) {
        margin: 0 -10px;
    }
}