.universities {
    padding-bottom: 150px;

    @media (max-width: 768px) {
        padding-bottom: 100px;
    }

    .title {
        text-align: center;
    }

    .subtitle {
        max-width: 423px;
        text-align: center;
        margin: 0 auto 40px;

        @media (max-width: 430px) {
            font-size: 12px;
        }
    }

    :global {
        .slick-dots {
            bottom: -34px;
        }
    }
}