.faq {
    padding-bottom: 100px;

    @media (max-width: 430px) {
        background: url("../../../../public/images/background/faq-bg-mob.png") no-repeat 100%;
        background-size: cover;
        padding-bottom: 100px;
    }

    .title {
        margin-bottom: 40px;
        text-align: center;
    }
}