.button {
    position: relative;
    padding: 15px 32px;
    background: linear-gradient(213.88deg, #B1E2FF -67.78%, #68C7FF 175.48%);
    box-shadow: 0 0 25px rgba(82, 191, 255, 0.15);
    border-radius: 25px;
    border: none;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: linear-gradient(213.88deg, #C6EAFF -67.78%, #81D0FF 175.48%);
        box-shadow: 0 0 25px rgba(146, 214, 255, 0.5);
    }

    &:disabled {
        background: #F8FCFF;
    }

    &:active {
        background: linear-gradient(213.88deg, #86D2FF -67.78%, #47BBFF 175.48%);
    }

    &WithIcon {
        padding-left: 57px;
    }

    &Secondary {
        background: #fff;
        color: var(--main-color);

        &:hover {
            background: #fafcff;
        }

        .buttonIcon {
            background: linear-gradient(213.88deg, #B1E2FF -67.78%, #68C7FF 175.48%);
        }
    }
}

.buttonIcon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: linear-gradient(322.12deg, #B1E2FF 1.25%, #68C7FF 89.56%);
    display: flex;
    justify-content: center;
    align-items: center;
}