.accordion {
    margin-bottom: 134px;

    @media (max-width: 1200px) {
        width: calc(100% - 20px);
        margin-bottom: 60px;
    }
}

.universityItem {
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

.list {
    padding-left: 0;
    column-count: 5;

    @media (max-width: 760px) {
        column-count: 2;
    }

    &Item {
        margin-bottom: 6px;
        column-gap: 20px;
    }
}

.universityBlock {
    width: 100%;
}