.universityCard {
    position: relative;
    padding: 13px 13px 26px 13px;
    margin-bottom: 84px;
    background: var(--form-background);
    box-shadow: 0 0 40px 0 rgba(119, 205, 255, 0.30);
    border-radius: 20px;
}

.cardRow {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 14px;

    &:nth-child(odd) {
        background-color: #F8FCFF;
    }

    &:first-child {
        border-radius: 20px 20px 0 0;
    }

    &:last-child {
        border-radius: 0 0 20px 20px;
    }
}

.cardTitle {
    width: 114px;
    font-size: 12px;

    @media (max-width: 430px) {
        font-size: 10px;
    }
}

.cardData {
    width: 150px;
    font-size: 14px;

    @media (max-width: 430px) {
        font-size: 12px;
    }
}

.cardButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0 auto;
}