.block {
    max-width: 100%;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    cursor: pointer;
}

.button {
    position: relative;
    padding: 27px 39px 27px 27px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &[aria-expanded="true"] {
        &:after {
            content: url("../../../../public/images/controls/accordion-minus.svg");
        }
    }

    &:after {
        content: url("../../../../public/images/controls/accordion-plus.svg");
        width: 48px;
        height: 48px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);

        @media (max-width: 1200px) {
            //width: 40px;
            //height: 40px;
            //right: 10px;
        }
    }
}

.panel {
    padding: 0 20px 20px 30px;
    font-size: 14px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}