:global {
    .accordion {
        border:  none;
    }
}

.row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        width: calc(100% - 20px);
        align-items: initial;
    }
}

.column {
    flex: 1;
}

.faqItem {
    width: 536px;

    @media (max-width: 1200px) {
        width: 100%;
    }
}