.filter {
    font-size: 14px;
    position: relative;

    @media (max-width: 1024px) {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;
        padding: 20px;
        background: #fff;
        z-index: 200;
        overflow: auto;
        transition: left 0.3s;

        &Open {
            left: 0;
        }
    }

    :global {
        .accordion {
            border: none;
            margin-bottom: 30px;

            &__panel {
                padding: 0 20px 26px 0;
            }
        }

        .accordion__item + .accordion__item {
            border-top: 1px solid rgba(226, 237, 243, 0.50);
        }

        .accordion__button {
            position: relative;
            padding-left: 0;
            background-color: #fff;

            &:before {
                position: absolute;
                content: url("../../../../public/images/controls/arrow-down.svg");
                width: 12px;
                height: 8px;
                top: 50%;
                right: 0;
                color: #D9D9D9;
                border: none;
                transform: rotate(180deg) translateY(-50%);
            }

            &:hover {
                background-color: #fff;
            }

            &[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
                transform: rotate(0deg) translateY(-12px);
            }
        }
    }
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.label {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--additional-text-color);
    text-align: center;
}

.header {
    display: flex;
    gap: 15px;
    align-items: center;


    &Image {
        width: 20px;
        height: 20px;
    }
}

.closeButton {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        position: absolute;
        background: url("../../../../public/images/icons/close.svg") no-repeat;
        width: 20px;
        height: 20px;
        top: 30px;
        right: 20px;
        border: none;
        cursor: pointer;
    }
}

.filterButton {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }

    @media (max-width: 430px) {
        width: 100%;
    }
}