.info {
    display: flex;
    gap: 10px 44px;
    font-size: 15px;
    font-weight: 700;

    @media (max-width: 430px) {
        font-size: 12px;
    }

    &Box {
        display: flex;
        align-items: center;
        gap: 14px;
    }
}